/* dono ko alg alg color diya */
/* h3{
	color :orange;
}

p{ 
	color:red;
}

a{ color:black;} */

/* 



li { 
     list-style-type: none; #or
	list-style-type: square;
} */



/* class="special" ki help se sabhi tags se color change kiye */
/* 
.special {
	color:blue;
	font-weight: bold;
} */


/* class="special" ki help se Ak  ya do tags se color change kiye baki me koi change nhii ho */
/* span.special,
li.special { color:orange;
font-weight:bold;} */



/* 
li em {color:purple;
font-weight: bold;} */


/* h1 se just bad vale p tag pr hi work krega use bich me agr koi tag aa gya to ye work nhi krega */
/* h1+p {font-size: 200%;} */


/*pseudo-class selectors  */
/* 
a:hover { color:saddlebrown;
text-decoration:none;} */



/* 
body h1+p .special{ color:yellow;
background-color: black;} */


/* id selectors */
/* 
#heading { color:blue;
background-color:rebeccapurple;} */


/* id selectors with the help of #*/
/* p#one { 
	color:red;} */